# Python 'coverage' command settings

# This is made obsolete by the run_coverage bash script
# [run]
# omit =
#     # Don't test coverage of tests
#     */tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    @abstractmethod 