.DS_Store

*.pyc
.coverage
.pytest_cache
.mypy_cache
.vscode
__pycache__
psll-venv
htmlcov
coverage

# Compiled pyramid schemes in the examples folder
examples/*.pyra

# LaTeX stuff
sigbovik-paper/*.synctex.gz
sigbovik-paper/*.aux
sigbovik-paper/*.bbl
sigbovik-paper/*.blg
sigbovik-paper/*Notes.bib
sigbovik-paper/*.log
sigbovik-paper/*.fdb_latexmk
sigbovik-paper/*.fls
sigbovik-paper/*.synctex(busy)


python_tests

# Stuff from perf-page branch
.sass-cache
_site
.jekyll-metadata
Gemfile.lock
*.perf

*.egg-info
.cspellcache
dist
psll/pyra.rb
*.*~
.tox
.python-version
.ruff_cache
.venv